:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --menu-bg-color: #f0f0f0;
}

body[data-theme="dark"] {
    --background-color: #313131;
    --text-color: #ffffff;
    --menu-bg-color: #282c34;
}